*{
    padding: 0;
    margin: 0;
    
}
.InGreen{ 
position: absolute;
width: 513px;
height: 600px;
left: 342px;
top: 201px;
box-shadow: 0px 2px 2px 2px transparent;
}
.PartGreen{
    /* position: absolute; */
width: 620px;
left: 0px;

}
.form{
    width: 100%;
    height: 100%;
   display: flex;
}
.Log_in{
    position: absolute;
    width: 177px;
    height: 50px;
    left: 940px;
    top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    text-align: center;

    color: #000000;
}
.mail{
    position: absolute;
    padding: 20px;
 
    display: flex;
    left: 850px;
    bottom: 320px;
    width: 500px;
    justify-content: space-between;
    /* height: 50px; */
}
.emailx{
    position: relative;
    width: 500px;
    height: 50px;
    padding: 10px 30px;
    background: #FFFFFF;
    border: 1px solid #B5A4A4;
    border-radius: 10px

}
.emaily{
    width: 30%;
    right: 70px;
    position: relative;
    top: 15px;
}
.pass_container{
    position: absolute;
    padding: 20px;
    width: 500px;
    display: flex;
    bottom: 240px;
    justify-content: space-between;
    left: 850px;

}
.passwordx{
    position: relative;
    width: 500px;
    height: 50px;
    padding: 10px 30px;
    background: #FFFFFF;
    border: 1px solid #B5A4A4;
    border-radius: 10px
}
.passwordy{
    width: 30%;
    right: 70px;
    position: relative;
    top: 15px;

}
.buttons{
    position: absolute;
    left: 894px;
    bottom: 180px;
    display: flex;
    justify-content: space-between;
}
.log_in{
    position: relative;
    width: 160px;
    height: 46px;
    background: #A8B24A;
    border-radius: 12px;
    border: transparent;
    gap: 20px;
    right: 20px;
    cursor: pointer;
}
.log_in:hover{
    background: #6BAA50;
    transition: 2s all;
}
.Recover_Pass{
    position: relative;
    width: 160px;
    left: 20px;
    height: 46px;
    border: transparent;
    background: #A8B24A;
    border-radius: 12px;
    cursor: pointer;
}
.Recover_Pass:hover{
    background: #6BAA50;
    transition: 2s all;
}