*{
    padding: 0;
    margin: 0;
    
}
.about{
    position: relative;
    justify-content: center; 
    align-items: center;
    text-align: center;
    z-index: 1;
    
   
}

.bg{
    width: 100%;
    height: auto;
    filter: blur(1.5px);
}

.log-cont{
    position: absolute;
    width: 100%;
    top: 130px;

    
}

.Abt-tle{
 position: absolute;
width: 147px;
height: 31px;
left: 300px;
top: 100px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 31px;
text-align: center;
color: #000000;
}
.Abt-cont{
position: relative;
width: 410px;
height: 108px;
left: 160px;
top: 170px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
text-align: center;
text-transform: capitalize;
color: #000000;
}

.btn{
    position: absolute;
    width: 216px;
    top: 250px;
    left: 100px;
    padding: 30px;
    display: flex;
    gap: 20px;
}
.sign{
   background: #A8B24A;
   height: 59px;
   width: 210px;
   border: transparent;
   border-radius: 12px;
   cursor: pointer;
}
.sign:hover{
    background: #6BAA50;
    
}
.login{
    background: #A8B24A;  
    height: 59px;
    width: 210px;
    border: transparent;
   border-radius: 12px;
   cursor: pointer;

}
.login:hover{
    background: #6BAA50;
}
