*{
    padding: 0;
    margin: 0;
    
}
.about{
    position: relative;
    justify-content: center; 
    align-items: center;
    text-align: center;
    z-index: 1;
    

}

.bg{
    width: 100%;
    height: auto;
    filter: blur(1.5px);
}

.log-cont{
    position: absolute;
    width: 100%;
    top: 40px;

    
}

.Abt-tle{
 position: absolute;
width: 147px;
height: 31px;
left: 1000px;
top: 80px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 31px;
text-align: center;
color: #000000;
}
.Abt-cont{
position: relative;
width: 410px;
height: 108px;
left: 880px;
top: 140px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
text-align: center;
/* text-transform: capitalize; */
color: #000000;
}

.btn{
    position: absolute;
    width: 216px;
    top: 250px;
    left: 850px;
    padding: 30px;
    display: flex;
    gap: 20px;
}
.sign{
   background: #A8B24A;
   height: 59px;
   width: 210px;
   border: transparent;
   border-radius: 12px;
   cursor: pointer;
   position: relative;
   top: -20px;
}
.sign:hover{
    background: #6BAA50;
    
}
.login{
    background: #A8B24A;  
    height: 59px;
    width: 210px;
    border: transparent;
   border-radius: 12px;
   cursor: pointer;
   position: relative;
   top: -20px;

}
.login:hover{
    background: #6BAA50;
}
.serv{
    width: 135px;
    height: 34px;
    top: 400px;
    left: 120px;
    justify-content: center;
    font-weight: 900;
    font-size: 15px;
    align-items: center;
    text-align: center;
    position: absolute;
    color: #000000;


}
.abt_container{
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 600px;
    gap: 30px;
    left: 50px;
    display: flex;
}
.Abt-2{
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
    color: blue;
}

@media  (max-width: 600px) {
    .bg{
        width: 95%;
    }
    .abt_container{
        flex-direction: column;
        left: 20px;
        
    }
}