*{
    padding: 0;
    margin: 0;
}

.img{
    width: 100%;
    height: 100%;
}


.p-content{
    position: relative;
    width: 844px;
  
    left: 141px;
    padding: 30px;
    bottom: 309px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: white;

}
#purpose{
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 68px;


}


@media  (max-width: 600px) {
    .img{
        bottom: 600px;
        width: 20%;
        height: 20%;
        padding: 5px;
        background: blue;
        
    }
  
}