.slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.p-content{
    position: absolute;
    width: 844px;
    height: 214px;
    left: 141px;
    /* top: 309px; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 68px;

    color: #000000;

}
#purpose{
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 68px;

}

.image {
    width: 100%;
    height: 100%;


}
.right-arrow{
    position: absolute;
    top: 60%;
    right: 32px;
    font-size: 2rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    /* user-select: none; */
}

.left-arrow{
    position: absolute;
    top: 60%;
    left: 32px;
    font-size: 2rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition: all 1s ease-in;
}
.slide.active{
    opacity: 1;
    transition-duration: 1s;

}