*{
    padding: 0;
    margin: 0;    
}

.Left-seller{
    position: absolute;
    width: 250px;
    height: 800px;
    left: 0px;
    top: 0px;
    background: #A8B24A;
    border-radius: 0px 40px 40px 0px;
}
.Right-seller{
    position: absolute;
    width: 200px;
    height: 100vh;
    left: 310px;
    top: 1px;
    background: #F2EBEB;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
.Profile{
    position: relative;
    width: 140px;
    height: 113px;
    left: 81px;
    top: 100px;
}
#pImage{
    position: relative;
    width: 70px;
    height: 70px;
    bottom: 20px;
}
#pName{
    position: absolute;
    width: 140px;
    bottom: 30px;
    right: 15px;
    font-weight: 700;
}

#dashboard__content{
    position: absolute;
    padding: 20px;
    top: 200px;
    left: 55px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    line-height: 30px;
}
.dashboard_folders{
    position: absolute;
    top: 275px;
    left: 80px;
    border: transparent;
    background: none;
    font-weight: 700;
    font-size: 15px;
}
.options{
    background: #A8B24A;
}
#settings_info{
    position: absolute;
    top: 350px;
    font-weight: 600;
    left: 80px;
    font-size: 20px;
}
.right_dashboard{
    position: absolute;
    width: 85%;
    left: 250px;
    gap: 100px;
    background: blue;

}

.topleft{
    width: 60%;
    /* left: 250px; */
    /* height: 100vh; */
    /* display: flex; */
    justify-content: center;
    /* gap: 20px; */
    border-radius: 20px;
    /* background-color: grey; */
}
.dash__log{
    font-size: 20px;
    right: 20px;
    width: 155px;
}
/* .search_something{
    box-sizing: border-box;
    position: absolute;
    width: 537px;
    height: 36px;
    left: 2px;
    top: 3px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.62);
    border-radius: 10px;
} */
.Cut-brand{
    position:relative;
    display: flex;
    flex-direction: row;
    left: 25%;
    top: 80px;
    width: 60%;
    gap: 50px;
    /* background-color: aquamarine; */
}

#dl{
    position: absolute;
    width: 206.55px;
    height: 57px;
    left: 0px;
    gap: 20px;
background-color: #A8B24A;
} 
#manage{
    position: absolute;
    width: 249px;
    height: 87px;
    left: 290px;
    top: 197px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
}
.context{
    position: absolute;
    width: 225px;
    height: 54px;
    left: 352px;
    top: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #000000;}
.brands{
    position: absolute;
}
.My-products{
    position: relative;
width: 699px;
height: 340px;
left: 733px;
top: 200px;
background: #faf4f4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.Prod-tle{
    position: absolute;
    border-bottom: 1px solid #CCB8B8;
width: 46vw;
height: 56px;
top: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600%;
font-size: 18px;
text-align: center;
color: #000000;
}
.Sub-tle{
position: absolute;
width: 100%;
align-items: center;
justify-content: space-around;
top: 60px;
display: flex;
flex-direction: row;
color: #000000;
}
#Sub-tle_left,
#Sub-tle_right{
    font-size: 22px;
    margin-top: 5px;
    font-family: "Popins";
}
.ProdContx{
    position: relative;
    background-color: #CCB8B8;
    top: 100px;
    left: 0px;
    height: 240px;
}
#One , Two{
    background-color: #A8B24A;
    display: flex;
    flex-direction: column;
    top: 2px;
}